In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as mly
import seaborn as sns 
%matplotlib inline

In [2]:
pip install seaborn

Collecting seaborn
  Downloading seaborn-0.12.2-py3-none-any.whl (293 kB)
     ------------------------------------ 293.3/293.3 kB 786.2 kB/s eta 0:00:00
Requirement already satisfied: numpy!=1.24.0,>=1.17 in c:\users\ayael\anaconda3\lib\site-packages (from seaborn) (1.25.0)
Requirement already satisfied: pandas>=0.25 in c:\users\ayael\anaconda3\lib\site-packages (from seaborn) (1.5.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\users\ayael\anaconda3\lib\site-packages (from seaborn) (3.7.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\ayael\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: cycler>=0.10 in c:\users\ayael\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\ayael\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in c:\users\ayael\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.4.0)
Requirement already satisfied: packaging>=20.0 in c:\users\ayael\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\ayael\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\ayael\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.25.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\ayael\anaconda3\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\ayael\anaconda3\lib\site-packages (from pandas>=0.25->seaborn) (2022.7)
Requirement already satisfied: six>=1.5 in c:\users\ayael\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Installing collected packages: seaborn
Successfully installed seaborn-0.12.2
Note: you may need to restart the kernel to use updated packages.

In [58]:
bikes= pd.read_csv("london_merged.csv")
bikes.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [59]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [60]:
bikes.shape

(17414, 10)

In [61]:
bikes["weather_code"].value_counts()

1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: weather_code, dtype: int64

In [62]:
bikes["season"].value_counts()

0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: season, dtype: int64

In [63]:
new_cols_dict={
    "timestamp": "time",
    "cnt":"count",
    "t1":"temp_real_c",
    "t2":"temp_feels_like_c",
    "hum":"humidity_percent",
    "wind_spead":"wind_spead_kph",
    "weather_code":"weather",
    "is_holiday":"is_holiday",
    "is_weekend":"is_weekend",
    "season":"season"
    
}

In [64]:
bikes.rename(new_cols_dict,axis=1,inplace=True)

In [65]:
bikes.head()

,time,count,temp_real_c,temp_feels_like_c,humidity_percent,wind_speed,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [66]:
bikes["humidity_percent"]=bikes["humidity_percent"]/100

In [67]:
bikes["humidity_percent"]

0        0.930
1        0.930
2        0.965
3        1.000
4        0.930
         ...
17409    0.810
17410    0.810
17411    0.785
17412    0.760
17413    0.760
Name: humidity_percent, Length: 17414, dtype: float64

In [68]:
season_dict={
    "0.0":"spring",
    "1.0":"summer",
    "2.0":"autumn",
    "3.0":"winter"
}

In [69]:
weather_dict={
    "1.0":"clear",
    "2.0":"scattered clouds",
    "3.0":"broken clouds",
    "4.0":"cloudy",
    "7.0":"rain",
    "10.0":"rain with thounderstorm",
    "26.0":"snowfall"
}

In [72]:
bikes["season"]=bikes["season"].astype('str')

In [73]:
bikes["season"]=bikes["season"].map(season_dict)

In [74]:
bikes["season"]

0        winter
1        winter
2        winter
3        winter
4        winter
          ...
17409    winter
17410    winter
17411    winter
17412    winter
17413    winter
Name: season, Length: 17414, dtype: object

In [75]:
bikes["weather"]=bikes["weather"].astype("str")

In [76]:
bikes["weather"]=bikes["weather"].map(weather_dict)

In [77]:
bikes["weather"]

0           broken clouds
1                   clear
2                   clear
3                   clear
4                   clear
               ...
17409       broken clouds
17410              cloudy
17411              cloudy
17412              cloudy
17413    scattered clouds
Name: weather, Length: 17414, dtype: object

In [78]:
bikes.head()

,time,count,temp_real_c,temp_feels_like_c,humidity_percent,wind_speed,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,broken clouds,0.0,1.0,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,clear,0.0,1.0,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,clear,0.0,1.0,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,clear,0.0,1.0,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,clear,0.0,1.0,winter

In [81]:
bikes.to_excel('london_bikes.xlsx', sheet_name='data')

ModuleNotFoundError: No module named 'openpyxl'

In [ ]:
pip install openpyxl